body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1em;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
}

article {
  grid-column: 1 / 2;
}

aside {
  grid-column: 2 / 3;
}

nav {
  background-color: #000;
  padding: .5em;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: .5em 1em;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature {
    width: 200px;
    float: left;
    margin-right: 1em;
}