:root {
  --large-space: 1.5rem;
  --medium-space: 0.6rem;
  --small-space: 0.3rem;

  --large-font: 1.4em;
  --small-font: 0.8em;

  --dark-grey: #8899a6;
  --light-grey: #aab8c2;

  --dot: "\00b7";
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.tweet {
  display: flex;
  gap: var(--medium-space);
  width: 35rem;
  min-height: 4rem;
  border: 1px solid #ccc;
  padding: var(--medium-space);
  font-size: 0.9rem;
  line-height: 1.1rem;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: var(--small-space);
}

.content {
  display: flex;
  gap: var(--small-space);
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-weight: bold;
  margin-right: var(--small-space);
}

.handle {
  color: var(--dark-grey);
  font-size: var(--small-font);
}

.time {
  padding-left: var(--small-space);
  color: var(--dark-grey);
}

.time::before {
  content: var(--dot);
  padding-right: var(--small-space);
}

.buttons {
  display: flex;
  gap: var(--large-space);
  font-size: var(--large-font);
  color: var(--light-grey);
}

.like-count,
.retweet-count {
  position: relative;
  bottom: var(--tiny-space);
  font-size: var(--small-font);
  margin-left: calc(var(--small-space) + var(--tiny-space));
  font-weight: bold;
}
