:root {
  --medium-space: 0.6rem;
  --small-space: 0.3rem;

  --dark-grey: #8899a6;

  --dot: "\00b7";
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.tweet {
  display: flex;
  width: 35rem;
  min-height: 4rem;
  border: 1px solid #ccc;
  padding: var(--medium-space);
  font-size: 0.9rem;
  line-height: 1.1rem;
}

.avatar {
  flex: 1;
  height: 3rem;
  border-radius: var(--small-space);
  margin-right: var(--medium-space);
}

.content {
  flex: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-right: var(--small-space);
}

.handle {
  color: var(--dark-grey);
  font-size: 0.8rem;
}

.time {
  padding-left: var(--small-space);
  color: var(--dark-grey);
}

.time::before {
  content: var(--dot);
  padding-right: var(--small-space);
}
