.file-list {
  font-family: Helvetica, sans-serif;
  width: 100%;
  max-width: 980px;
  color: #333;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.file-list td {
  border-top: 1px solid #ccc;
}

.file-icon {
  width: 17px;
  padding-left: 4px;
}

.file-icon .fa-folder {
  color: #508fca;
}

.file-name {
  padding: 4px;
  max-width: 180px;
}
